.button {
  cursor: pointer;
  font-family: 'Aleo';
  font-size: 1.2rem;
  color: var(--darkMediumGrey);

  &:hover {
    transform: scale(1.5);
    color: var(--arsenic);
  }
}

.delete {
  @extend .button;
  font-size: 1.2rem;
}

.on {
  @extend .button;
  color: var(--arsenic);

  &:hover {
    color: var(--darkMediumGrey);
  }
}

.read {
  @extend .on;
  color: var(--darkMediumGrey);
}

.unRead {
  @extend .button;
}
