.body {
  @media (min-width: 481px) {
    // max-height: 50rem;

    .text {
      max-height: 50rem;
    }
  }

  .secondLine {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 1.6rem;
  }

  .text {
    font-size: 1.1rem;
    padding: 0.3rem 0;
    cursor: pointer;
    margin-bottom: 5px;
  }

  footer {
    display: flex;
    font-family: 'Open Sans';
    justify-content: space-between;
    font-size: 80%;
    font-weight: 300;
    padding: 0 0.3rem;
  }
}

.bodyRead {
  @extend .body;
  color: var(--dimGrey);
}

.statsLine {
  align-self: end;
  display: flex;
  justify-content: space-between;
  font-size: 80%;
  font-weight: 300;

  padding: {
    top: 0.3rem;
  }
}
