.title {
  cursor: pointer;
  font-weight: 500;
}

.postTitle {
  @extend .title;
  line-height: 1.4rem;
  font-size: 1.3rem;

  @media (max-width: 499px) {
    font-size: 1.6rem;
  }
}

.postTitleShow {
  @extend .title;
  line-height: 1.8rem;

  @media (max-width: 599px) {
    font-size: 150%;
  }

  @media (min-width: 600px) {
    font-size: 1.5rem;
  }
}
