// fonts
$baseFont: "Alegreya";
$statusFont: "Open Sans";
// text
$textMessage: italic 400 1rem $baseFont;
$textSourceEditMobile: normal 300 0.8rem $statusFont;
$textSourceEditDesktop: normal 300 1rem $statusFont;