@import './_definitions';
@import './_typography';

main {
  margin: 0 auto;
  padding: 0;
  width: 100%;

  font-family: $baseFont;

  background-color: $lightGrey !important;
  color: $arsenic;

  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.button {
  font-weight: 300;
  background: none;
  border: none;
  border-bottom: $borderBottomArs;
  background-color: $arsenic;
  color: $lightGrey;
  font-family: $baseFont;
  border-radius: 2px;
  margin: 0.2rem auto;
  padding: 10px;
  font-size: 1rem;
  letter-spacing: 1px;
  outline: none;
  box-shadow: $boxShadow;
  transition: $boxTransition;
  user-select: none;
  cursor: pointer;

  &:hover {
    box-shadow: $boxShadowHover;
    border-bottom: $borderBottomLG;
  }

  &:active {
    transform: scale(0.95);
    box-shadow: $boxShadow;
    border-bottom: $borderBottomLG;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  background: $arsenicSemiTrans;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-content: center;
}

.central {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 30%;
  font: $textMessage;
}