@import './_definitions';
@import './_typography';
@import './animations';

.smart {
  color: $arsenic;
  transition: 0.7s;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  margin: 0 5px;

  padding: {
    top: 3px;
    left: 10px;
    right: 10px;
  }

  font-family: $baseFont;
  font-size: 0.9rem;
  letter-spacing: 1px;

  &:hover {
    color: $accent;
  }

  &:active {
    transform: scale(0.9);
  }
}

.smartAccented {
  @extend .smart;
  color: $accent;
}

.smartRotate {
  @extend .smart;

  &:active {
    transform: scale(1);
    animation: rotate 2s ease-out 0s 2;
  }
}