.button {
  cursor: pointer;
  color: var(--darkMediumGrey);
  outline: none;

  &:hover {
    // transform: scale(1.5);
    color: var(--arsenic);
  }

  @media (max-width: 599px) {
    // font-size: 1.2rem;
  }
}

.delete {
  @extend .button;
  // font-size: 1.2rem;
}

.on {
  @extend .button;
  color: var(--arsenic);

  &:hover {
    color: var(--darkMediumGrey);
  }
}

.read {
  @extend .on;
  color: var(--darkMediumGrey);
}

.unRead {
  @extend .button;
}
