.contentDisplay {
  padding-top: 1rem;
}

.actionMessage {
  @keyframes appear {
    0% {
      opacity: 0;
      // display: 0;
      // color: var(--lightGrey)
    }

    100% {
      opacity: 100;
      // display: block;
      // color: var(--arsenic)
    }
  }

  background: var(--arsenicLightTrans);
  color: var(--lightGrey);
  padding: 3px 5px;
  position: fixed;
  top: 13px;
  left: 30vw;
  text-align: center;
  width: 40vw;
  animation: appear 0.7s linear;
  z-index: 100;
}
