.button {
  padding: 0.7rem 0.7rem;
  color: var(--arsenic);

  &:hover {
    transform: scale(1.1);
  }
}

.buttonDims {
  @media (max-width: 599px) {
    font-size: 0.9rem;
    padding: 0.5rem 1.2rem;
  }

  padding: 0.5rem 2rem;
  font-size: 1rem;
  font-weight: 300;
}

.addSource {
  @extend .buttonDims;
  font-family: 'Aleo';

  margin: {
    top: 0;
    left: auto;
    right: auto;
  }

  border-radius: 1px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  border-bottom: 3px solid var(--lightGrey);

  &:hover {
    background-color: var(--silverSand);
    border-bottom: 3px solid var(--arsenic);
  }

  &:active {
    color: white;
    background-color: var(--silverSand);
  }
}

.refreshSource {
  @extend .addSource;
  margin-right: 0.2rem;
}
