.sourceFormat {
  font-weight: 300;
  font-family: 'Open Sans';
  letter-spacing: 0.03rem;
}

.source {
  @extend .sourceFormat;
  font-size: 0.8rem;
  padding-top: 0.6rem;
}

.sourceShow {
  @extend .sourceFormat;
  align-self: center;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 0.9rem;
  margin-left: 0.3rem;
}
