.sourceFormat {
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.05rem;
}

.source {
  @extend .sourceFormat;
  margin-top: 0.9rem;
  font-size: 80%;
}

.sourceShow {
  @extend .sourceFormat;

  font-size: 1rem;
  margin-left: 0.3rem;
  align-self: center;
  font-size: 100%;
  letter-spacing: 0.05rem;
}
