.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.message {
  width: 100%;
  text-align: center;

  padding: {
    left: 1rem;
    right: 1rem;
    bottom: 1rem;
  }

  font-style: italic;
  font-weight: 300;
  color: var(--dimGrey);
  font-size: 0.9rem;
}

.buttonsWrapper {
  margin: 0 auto;
}
